<section class="card">
  <a href="/cherry/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{displayname}}" alt="{{description}}">
      <p>By: {{photographer}}</p>
    </div>
  </a>
</section>
