<section class="cherry">
  <img src="/images/{{cherry.displayname}}" alt="{{cherry.description}}">
  <div class="cherry-details">
    <h3>{{cherry.title}}</h3>
    <p>By: {{cherry.photographer}}</p>
    <p>Bloom season : {{ format_date cherry.bloom_date}}</p>
  </div>
</section>
